name: "ML Heating Control"
version: "0.2.0"
slug: "ml_heating_helge"
description: "Physics-based machine learning heating control system with online learning (Stable Channel)"
url: "https://github.com/jhilkert90-wq/ml_heating_helge"

arch:
  - aarch64
  - amd64

startup: services
init: false

map:
  - addon_config:rw

ingress: true
ingress_port: 3001
panel_icon: mdi:heat-pump
panel_title: "ML Heating"

homeassistant: 2024.1.0

privileged:
  - SYS_RAWIO

apparmor: false
hassio_api: true
homeassistant_api: true

options:
  target_indoor_temp_entity: "input_number.soll_rt"
  indoor_temp_entity: "sensor.rt_mittelwert_mean"
  outdoor_temp_entity: "sensor.stat_at"
  heating_control_entity: "sensor.betriebsmodus_wp"
  outlet_temp_entity: "sensor.nibe_bt2_supply_temp_s1"
  target_outlet_temp_entity: "input_number.ml_vorlauftemperatur"
  actual_target_outlet_temp_entity: "sensor.ml_vorlauftemperatur_korrekt"
  openweathermap_temp_entity: "weather.home"
  avg_other_rooms_temp_entity: "sensor.rt_mittelwert_mean"
  pv_forecast_entity: "sensor.ml_pv_forecast_watts"

  pv_power_entity: "sensor.stat_pv_power_mean"
  fireplace_status_entity: "binary_sensor.kamin_an"
  tv_power_entity: "binary_sensor.your_tv_status"

  dhw_status_entity: "input_boolean.dummy_off"
  defrost_status_entity: "input_boolean.dummy_off"
  disinfection_status_entity: "input_boolean.dummy_off"
  dhw_boost_heater_entity: "input_boolean.dummy_off"

  cycle_interval_minutes: 30
  max_temp_change_per_cycle: 5.0
  history_steps: 6
  history_step_minutes: 10
  training_lookback_hours: 576

  safety_max_temp: 25.0
  safety_min_temp: 18.0
  clamp_min_abs: 14.0
  clamp_max_abs: 35.0

  influxdb_host: "a0d7b954-influxdb"
  influxdb_port: 8089
  influxdb_database: "home_assistant"
  influxdb_token: "VmGuemi0CQS8keH1SIdiaBFgkQcWiaYvdtRhLcKhdLPtkRhWnfbBcJCbWdVIKjRAiSQZU89Juvds6OsES-SLfg=="
  influxdb_org: "home"
  influxdb_bucket: "home_assistant"
  influx_features_bucket: "ml_heating_features"

  auto_backup_enabled: true
  backup_retention_days: 30

  dashboard_update_interval: 30
  show_advanced_metrics: true
  dashboard_theme: "auto"

  enable_dev_api: false
  dev_api_key: ""
  log_level: "DEBUG"

  confidence_threshold: 2.0
  physics_validation_enabled: true
  seasonal_learning_enabled: true
  trajectory_steps: 4

  enable_multi_lag_learning: true
  enable_summer_learning: true
  hybrid_learning_enabled: true
  prediction_metrics_enabled: true
  trajectory_prediction_enabled: true

  pv_lag_steps: 4
  fireplace_lag_steps: 4
  tv_lag_steps: 2
  seasonal_learning_rate: 0.01
  min_seasonal_samples: 100

  grace_period_max_minutes: 10
  blocking_poll_interval_seconds: 60
  prediction_horizon_steps: 24

  shadow_mode: false
  ml_heating_control_entity: "input_boolean.ml_heating"

  thermal_time_constant: 4
  heat_loss_coefficient: 0.2
  outlet_effectiveness: 0.73
  outdoor_coupling: 0.3
  thermal_bridge_factor: 0.1

  pv_heat_weight: 0.0005
  fireplace_heat_weight: 0.1
  tv_heat_weight: 0.2

  adaptive_learning_rate: 0.01
  min_learning_rate: 0.001
  max_learning_rate: 0.01
  learning_confidence: 3.0
  recent_errors_window: 10

  stability_classification_enabled: true
  high_confidence_weight: 1.0
  low_confidence_weight: 0.3
  learning_phase_skip_weight: 0.0

  metrics_window_1h: 12
  metrics_window_6h: 72
  metrics_window_24h: 288
  prediction_accuracy_threshold: 0.3

  weather_forecast_integration: true
  pv_forecast_integration: true
  overshoot_detection_enabled: true

  calibration_baseline_file: "/data/calibrated_baseline.json"
  stability_temp_change_threshold: 0.1
  min_stable_period_minutes: 30
  optimization_method: "L-BFGS-B"

  enable_delta_forecast_calibration: true
  delta_calibration_max_offset: 10.0
